@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --clr-light-100: hsl(0 0% 98%);
  --clr-light-200: hsl(0 0% 96%);
  --clr-light-300: hsl(0 0% 85%);
  --clr-dark-100: hsl(30 13% 30%);
  --clr-dark-200: hsl(30 13% 20%);
  --clr-dark-300: hsl(100 12% 8%);
  --hue: 80;
  --clr-primary-100: hsl(var(--hue) 74% 80%);
  --clr-primary-200: hsl(var(--hue) 74% 70%);
  --clr-primary-300: hsl(var(--hue) 74% 60%);
  --clr-primary-400: hsl(var(--hue) 74% 50%);
  --clr-primary-500: hsl(var(--hue) 74% 40%);
  --clr-primary-600: hsl(var(--hue) 74% 30%);
  --clr-red: hsl(350, 75%, 50%);
  --ff-primary: "Montserrat", sans-serif;
  --fw-black: 900;
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-extra-light: 200;
  --fw-thin: 100;
  --bs-small: 0 0.2rem 0 hsl(30 13% 20% / 0.2);
  --bs-medium: 0 0.4rem 0.4rem hsl(30 13% 20% / 0.3);
  --bs-big: 0 2rem 6rem 0.5rem hsl(100 12% 8%/ 0.3);
  --rounded-corners: 5px;
  --border-line: 2px solid var(--clr-primary-400);
  --transition-time: 0.2s;
  --header-height: 9rem;
  --icon-size: 2.4rem;
  --inline-padding: 5rem;
  --block-padding: 4rem;
  --main-padding: var(--block-padding) var(--inline-padding);
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
ol,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  padding: 3% 0;
  font-family: var(--ff-primary);
  line-height: 1.6;
  color: var(--clr-dark-200);
  background: linear-gradient(120deg, var(--clr-dark-200) 0%, var(--clr-dark-300) 100%);
  background-repeat: repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

::selection {
  background-color: var(--clr-dark-200);
  color: var(--clr-primary-100);
  margin: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--clr-dark-200);
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark-100);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-primary-300);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  margin: 0 auto;
  width: clamp(70rem, 80%, 120rem);
  background: var(--clr-light-100);
  box-shadow: var(--bs-big);
  border-radius: var(--rounded-corners);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, max-content);
  align-items: start;
}

.header {
  grid-column: 1/-1;
  background-color: var(--clr-light-100);
  height: var(--header-height);
  border-bottom: var(--border-line);
  box-shadow: var(--bs-small);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: max(15%, 5rem);
}

.search-results {
  grid-column: 1/1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50rem;
}

.recipe {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 50rem;
}

.spinner {
  margin: 2rem auto;
  text-align: center;
  padding: var(--main-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
}
.spinner > div {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: var(--rounded-corners);
  background-color: var(--clr-primary-300);
  animation: bounce 1s infinite ease-in-out both;
}
.spinner > div:nth-child(1) {
  animation-delay: -0.3s;
}
.spinner > div:nth-child(2) {
  animation-delay: -0.15s;
  margin: 0 1rem;
}
.new-recipe > .spinner > div {
  grid-column: 1/-1;
}
@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

h1 {
  font-size: 4.6rem;
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2,
h3 {
  font-weight: var(--fw-semi-bold);
  line-height: 1.1;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: var(--fw-regular);
}

h5 {
  font-size: 2rem;
  font-weight: var(--fw-thin);
}

p {
  font-size: 1.8rem;
  font-weight: var(--fw-light);
}

strong {
  font-weight: var(--fw-extra-bold);
  color: var(--clr-primary-400);
}

a:link,
a:visited {
  text-decoration: none;
}

.btn {
  border: none;
  outline: none;
  border-radius: var(--rounded-corners);
  padding: 0.5em;
  background-color: var(--clr-light-300);
  transform: translateY(0);
  color: var(--clr-dark-100);
  transition: all var(--transition-time);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--clr-dark-100);
}
.btn:hover, .btn--active {
  background-color: var(--clr-dark-100);
  box-shadow: var(--bs-small);
  color: var(--clr-primary-200);
}
.btn:hover {
  transform: translateY(-0.2em);
}
.btn:active {
  transform: translateY(0);
}
.btn--active .btn__icon, .btn:hover .btn__icon {
  fill: var(--clr-primary-200);
}
.btn--small .btn__icon {
  width: 1.8rem;
  height: 1.8rem;
}
.btn--very-small .btn__icon {
  width: 1.4rem;
  height: 1.4rem;
}

.message {
  margin: 2rem auto;
  padding: var(--main-padding);
  text-align: center;
}
.message *:not(:last-child) {
  margin-bottom: 1.6rem;
}
.message__title span {
  letter-spacing: -3px;
  text-decoration: underline;
  text-decoration-color: var(--clr-primary-400);
  text-decoration-thickness: 0.4rem;
}
.message__icon {
  width: 6rem;
  height: 6rem;
  fill: var(--clr-primary-400);
}
.message__icon--red {
  fill: var(--clr-red);
}
.message__text {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  max-width: 60ch;
}

.logo {
  font-size: 3.6rem;
  letter-spacing: -3px;
  margin-left: 2rem;
  user-select: none;
}
.logo span {
  color: var(--clr-primary-400);
}

.search {
  flex: 1;
  position: relative;
}
.search:focus-within .search__icon {
  fill: var(--clr-primary-300);
}
.search__field {
  width: 100%;
  outline: none;
  border: 1px solid var(--clr-dark-100);
  border-radius: 0.5rem;
  background-color: inherit;
  padding: 0.6em 1em;
  color: var(--clr-dark-200);
  font-size: 1.4rem;
  transition: box-shadow var(--transition-time);
}
.search__field::placeholder {
  color: var(--clr-light-300);
}
.search__field:hover {
  box-shadow: var(--bs-small);
}
.search__field:focus {
  box-shadow: var(--bs-medium);
}
.search__btn {
  position: absolute;
  top: 0.8em;
  right: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--clr-light-100);
}
.search__btn:active {
  transform: translateY(1px);
}
.search__icon {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--clr-light-300);
  background-color: inherit;
  transition: fill 0.2s;
}
.search__btn:hover > .search__icon {
  fill: var(--clr-primary-400);
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
}
.navbar__btn {
  position: relative;
  background-color: var(--clr-light-100);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0 2.4em;
  height: 100%;
  transition: background-color var(--transition-time);
}
.navbar__btn:hover, .navbar__btn:focus {
  background-color: var(--clr-light-300);
}
.navbar__icon {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--clr-dark-100);
  transform: translateY(0);
  transition: fill var(--transition-time), transform var(--transition-time);
}
.navbar__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.1em 0;
  background-color: var(--clr-primary-400);
  text-transform: uppercase;
  transform: translateY(-100%);
  transition: transform var(--transition-time);
}
.navbar__btn:hover .navbar__icon, .navbar__btn:focus .navbar__icon {
  fill: var(--clr-dark-300);
  transform: translateY(1em);
}
.navbar__btn:active .navbar__icon {
  transform: translateY(0.8em);
}
.navbar__btn:hover .navbar__info, .navbar__btn:focus .navbar__info {
  transform: translateY(0);
}

.bookmarks {
  --width: 10rem;
  overflow-y: auto;
  width: calc(var(--width) + 21.6rem);
  background-color: var(--clr-light-100);
  border-bottom: var(--border-line);
  border-left: var(--border-line);
  box-shadow: var(--bs-medium);
  cursor: default;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: calc(-1 * var(--width));
  transition: visibility var(--transition-time), opacity var(--transition-time);
}
.bookmarks__list {
  display: flex;
  flex-direction: column;
}
.bookmarks__list .preview:last-child .preview__card {
  border-bottom: none;
}
.bookmarks:hover, .navbar__btn:hover .bookmarks, .navbar__btn:focus .bookmarks {
  visibility: visible;
  opacity: 1;
}

.ing-list {
  --width: 20rem;
  width: calc(var(--width) + 21.6rem);
  overflow-y: auto;
  background-color: var(--clr-light-100);
  border-bottom: var(--border-line);
  border-left: var(--border-line);
  box-shadow: var(--bs-medium);
  cursor: default;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  transition: visibility var(--transition-time), opacity var(--transition-time);
}
.ing-list__list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.ing-list__list > li {
  font-size: 1.2rem !important;
  padding: 1rem;
}
.ing-list__list > li span {
  font-size: 1.4rem !important;
}
.ing-list__list > *:not(:last-child) {
  border-bottom: 1px solid var(--clr-light-300);
}
.ing-list:hover, .navbar__btn:hover .ing-list, .navbar__btn:focus .ing-list {
  visibility: visible;
  opacity: 1;
}
.ing-list__remove-btn {
  margin-left: auto;
}
.ing-list::-webkit-scrollbar-track {
  background-color: var(--clr-light-100);
}
.ing-list::-webkit-scrollbar-thumb {
  background-color: var(--clr-light-300);
}
.ing-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-primary-300);
}

.title {
  height: 40rem;
  position: relative;
  border-bottom: var(--border-line);
  box-shadow: var(--bs-small);
}
.title::after {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  display: inline-block;
  background-image: linear-gradient(to bottom, rgba(34, 31, 27, 0.7) 0%, rgba(34, 31, 27, 0.8) 100%);
}
.title__text {
  position: absolute;
  max-width: 20ch;
  z-index: 3;
  color: var(--clr-light-100);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: 1;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-light-200);
  padding: var(--main-padding);
  border-bottom: var(--border-line);
  box-shadow: var(--bs-small);
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6em;
}
.detail__icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
.detail__icon--user {
  fill: var(--clr-light-300);
}
.detail__icon--user-active {
  fill: var(--clr-dark-200);
}
.detail__btns {
  display: flex;
  gap: 1em;
}

.ingredients {
  padding: var(--main-padding);
  border-bottom: var(--border-line);
  box-shadow: var(--bs-small);
  background-color: var(--clr-light-100);
}
.ingredients__title {
  text-align: center;
  margin-bottom: var(--block-padding);
}
.ingredients__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 5%;
  row-gap: 2.2rem;
}
.ingredients__item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
}
.ingredients__item-mark {
  font-size: 1.8rem;
  color: var(--clr-primary-300);
}
.ingredients__add-ing {
  margin-top: var(--block-padding);
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  font-size: 1.4rem;
}

.source {
  padding: var(--main-padding);
  background-color: var(--clr-light-200);
  flex: 1;
}
.source__title {
  text-align: center;
  margin-bottom: var(--block-padding);
}
.source__text {
  margin-bottom: var(--block-padding);
}
.source__link:link, .source__link:visited {
  color: var(--clr-light-100);
  border-radius: 5px;
  background-color: var(--clr-dark-100);
  font-size: 2rem;
  padding: 0.8em 1.6em;
  display: inline-block;
  transform: translateY(0rem);
  transition: all var(--transition-time);
}
.source__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  transition: gap var(--transition-time) var(--transition-time);
}
.source__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--clr-light-100);
}
.source__link:hover, .source__link:focus {
  box-shadow: var(--bs-medium);
  transform: translateY(-0.4rem);
  background-color: var(--clr-dark-200);
}
.source__link:hover .source__content, .source__link:focus .source__content {
  gap: 2rem;
}

.results {
  display: flex;
  flex-direction: column;
}

.pag {
  padding: var(--main-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.pag__btn {
  font-size: 1.4rem;
  width: 3rem;
  height: 3rem;
}

.preview {
  height: 14rem;
  display: block;
}
.preview__link:link, .preview__link:visited {
  height: 100%;
}
.preview__card {
  color: var(--clr-light-100);
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  border-bottom: var(--border-line);
}
.preview__card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(90deg, #3a332c 0%, rgba(86, 77, 67, 0.9) 30%, rgba(115, 102, 89, 0.2) 100%);
  background-size: 100%;
  transition: background-size var(--transition-time);
}
.preview__title, .preview__sub-title {
  position: absolute;
  z-index: 3;
  left: 1rem;
  max-width: 20ch;
  text-align: left;
  line-height: 1;
  transition: bottom 0.2s;
}
.preview__title {
  bottom: 1rem;
  font-size: 2rem;
}
.preview__sub-title {
  font-size: 1.2rem;
  font-weight: var(--fw-light);
  bottom: -2rem;
}
.preview__card:focus::after, .preview__card:hover::after, .preview__link-active .preview__card::after {
  background-size: 200%;
}
.preview__card:focus .preview__title, .preview__card:hover .preview__title, .preview__link-active .preview__card .preview__title {
  bottom: 3rem;
}
.preview__card:focus .preview__sub-title, .preview__card:hover .preview__sub-title, .preview__link-active .preview__card .preview__sub-title {
  bottom: 1rem;
}
.preview__link-active .preview__title::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -2rem;
  height: 0.5rem;
  width: calc(100% + 2rem);
  border-radius: var(--rounded-corners);
  background-color: var(--clr-primary-400);
  z-index: 3;
}
.preview__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--clr-dark-300);
  opacity: 0.9;
  backdrop-filter: blur(5px);
  z-index: 9;
}

.new-recipe-window {
  position: absolute;
  min-width: 100rem;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: var(--clr-light-100);
  border-radius: var(--rounded-corners);
  padding: var(--main-padding);
}
.new-recipe-window__btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.row h3 {
  margin-bottom: 2rem;
  text-decoration: underline;
  text-decoration-color: var(--clr-primary-400);
  text-decoration-thickness: 0.4rem;
}

.new-recipe {
  min-height: 30rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
}
.new-recipe__ing-area {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.new-recipe__ing-area div:first-child button {
  visibility: hidden;
  opacity: 0;
}
.new-recipe__ing-field {
  background-color: var(--clr-light-200);
  padding: 2em;
  border-radius: var(--rounded-corners);
  box-shadow: var(--bs-medium);
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  align-items: center;
  column-gap: 1em;
  row-gap: 1em;
}
.new-recipe__ing-field h5 {
  grid-column: 1/1;
}
.new-recipe__ing-field div:last-child {
  grid-column: 1/-1;
}
.new-recipe__ing-remove-btn {
  grid-template-columns: 2/-1;
  justify-self: end;
}
.new-recipe__field label {
  display: block;
  font-size: 1.4rem;
}
.new-recipe__field input {
  width: 100%;
  font-size: 2rem;
  padding: 0.2em 0.6em;
  border-radius: var(--rounded-corners);
  border: 1px solid var(--clr-dark-100);
  background-color: var(--clr-light-100);
  outline: none;
  transition: box-shadow var(--transition-time), border var(--transition-time), background-color var(--transition-time);
}
.new-recipe__field input::placeholder {
  color: var(--clr-dark-100);
  font-size: 1.6rem;
}
.new-recipe__field input:hover {
  border: 1px solid var(--clr-dark-200);
  box-shadow: var(--bs-small);
}
.new-recipe__field input:focus {
  box-shadow: var(--bs-medium);
  background-color: var(--clr-primary-100);
}
.new-recipe__field input:valid {
  border-color: var(--clr-primary-400);
  outline: 1px solid var(--clr-primary-400);
}
.new-recipe__field input:invalid {
  border-color: var(--clr-red);
  outline: 1px solid var(--clr-red);
}
.new-recipe__field input:placeholder-shown {
  border-color: var(--clr-dark-100);
  outline: none;
}
.new-recipe__upload-btn {
  color: var(--clr-light-100);
  border-radius: 5px;
  background-color: var(--clr-dark-100);
  font-size: 2rem;
  padding: 0.8em 1.6em;
  display: inline-block;
  transform: translateY(0rem);
  justify-self: center;
  outline: none;
  grid-column: 1/-1;
  transition: all var(--transition-time);
}
.new-recipe__upload-btn:hover, .new-recipe__upload-btn:focus {
  box-shadow: var(--bs-medium);
  transform: translateY(-0.4rem);
  background-color: var(--clr-dark-200);
}
.new-recipe__content {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: gap var(--transition-time) var(--transition-time);
}
.new-recipe__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--clr-light-100);
}
.new-recipe__upload-btn:hover .new-recipe__content, .new-recipe__upload-btn:focus .new-recipe__content {
  gap: 2rem;
}

.alert {
  position: fixed;
  top: 10%;
  right: 0;
  z-index: 100;
  background-color: var(--clr-light-100);
  border-left: var(--rounded-corners) solid var(--clr-primary-300);
  border-top-left-radius: var(--rounded-corners);
  border-bottom-left-radius: var(--rounded-corners);
  padding: 0.4em 1em;
  user-select: none;
  transform: translateX(100%);
  transition: all 0.2s;
  display: flex;
  align-content: center;
  gap: 1rem;
}
.alert__pop {
  transform: translateX(0);
}
.alert__icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
.alert__text {
  font-size: 1.6rem;
  font-weight: var(--fw-medium);
}
.alert--red {
  border-color: var(--clr-red);
}
.alert--red .alert__icon {
  fill: var(--clr-red);
}
.alert--green {
  border-color: var(--clr-primary-300);
}
.alert--green .alert__icon {
  fill: var(--clr-primary-300);
}

/*# sourceMappingURL=style.css.map */
