.alert {
   position: fixed;
   top: 10%;
   right: 0;
   z-index: 100;
   background-color: var(--clr-light-100);
   border-left: var(--rounded-corners) solid var(--clr-primary-300);
   border-top-left-radius: var(--rounded-corners);
   border-bottom-left-radius: var(--rounded-corners);
   padding: 0.4em 1em;
   user-select: none;

   transform: translateX(100%);
   transition: all 0.2s;

   display: flex;
   align-content: center;
   gap: 1rem;

   &__pop {
      transform: translateX(0);
   }

   &__icon {
      width: var(--icon-size);
      height: var(--icon-size);
   }

   &__text {
      font-size: 1.6rem;
      font-weight: 500;
   }

   &--red {
      border-color: var(--clr-red);
   }

   &--red &__icon {
      fill: var(--clr-red);
   }

   &--green {
      border-color: var(--clr-primary-300);
   }

   &--green &__icon {
      fill: var(--clr-primary-300);
   }
}
