.logo {
   margin-left: 2rem;

   font-size: 3.6rem;
   letter-spacing: -3px;
   font-weight: 700;

   user-select: none;

   & > span {
      color: var(--clr-primary-400);
   }
}

.search {
   flex: 1;
   position: relative;

   &__field {
      width: 100%;
      padding: 0.6em 1em;

      font-size: 1.4rem;
      color: var(--clr-dark-200);
      font-weight: 400;

      outline: none;
      border: 1px solid var(--clr-dark-100);
      border-radius: var(--rounded-corners);
      background-color: inherit;

      transition: box-shadow var(--transition-time);

      &::placeholder {
         color: var(--clr-primary-300);
         font-weight: 400;
      }

      &:hover {
         box-shadow: var(--bs-small);
      }

      &:focus {
         box-shadow: var(--bs-medium);
      }
   }

   &__btn {
      position: absolute;
      top: 0.8em;
      right: 1em;

      width: var(--icon-size);
      height: var(--icon-size);
      padding: 0;

      cursor: pointer;
      outline: none;
      border: none;

      background-color: var(--clr-light-100);

      transform: translateY(0);

      &:active {
         transform: translateY(1px);
      }
   }

   &__icon {
      width: var(--icon-size);
      height: var(--icon-size);

      fill: var(--clr-light-300);
      background-color: inherit;

      transition: fill 0.2s;
   }

   &__btn:hover > &__icon,
   &__btn:focus > &__icon {
      fill: var(--clr-primary-400);
   }
}

.navbar {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   height: 100%;

   &__btn {
      position: relative;

      height: 100%;
      padding: 0 2.4em;

      outline: none;
      border: none;
      cursor: pointer;

      background-color: var(--clr-light-100);

      transition: background-color var(--transition-time);
   }

   &__btn:hover,
   &__btn:focus {
      background-color: var(--clr-light-300);
   }

   &__icon {
      width: var(--icon-size);
      height: var(--icon-size);

      fill: var(--clr-dark-100);

      transform: translateY(0);

      transition: fill var(--transition-time), transform var(--transition-time);
   }

   &__info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      padding: 0.1em 0;

      background-color: var(--clr-primary-400);
      text-transform: uppercase;

      transform: translateY(-100%);

      user-select: none;

      transition: transform var(--transition-time);
   }

   &__btn:hover &__icon,
   &__btn:focus &__icon {
      fill: var(--clr-dark-300);
      transform: translateY(1em);
   }

   &__btn:active &__icon {
      transform: translateY(0.8em);
   }

   &__btn:hover &__info,
   &__btn:focus &__info {
      transform: translateY(0);
   }
}

.bookmarks,
.ing-list {
   position: absolute;
   top: 100%;
   overflow-y: auto;
   z-index: 10;

   width: calc(var(--width) + 21.6rem);

   cursor: default;
   visibility: hidden;
   opacity: 0;

   background-color: var(--clr-light-100);
   border-bottom: var(--border-line);
   border-left: var(--border-line);
   box-shadow: var(--bs-medium);

   &:hover,
   .navbar__btn:hover &,
   .navbar__btn:focus & {
      visibility: visible;
      opacity: 1;
   }
}

.bookmarks {
   --width: 10rem;

   left: calc(-1 * var(--width));

   transition: visibility var(--transition-time), opacity var(--transition-time);

   &__list {
      display: flex;
      flex-direction: column;
   }

   &__list .preview:last-child .preview__card {
      border-bottom: none;
   }
}

.ing-list {
   --width: 20rem;

   right: 0;

   transition: visibility var(--transition-time), opacity var(--transition-time);

   &__list {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      & > li {
         font-size: 1.4rem !important;
         text-align: left;
         padding: 1rem;

         span {
            font-size: 1.6rem !important;
         }
      }

      & > *:not(:last-child) {
         border-bottom: 1px solid var(--clr-light-300);
      }
   }

   &__remove-btn {
      margin-left: auto;
   }

   &::-webkit-scrollbar {
      &-track {
         background-color: var(--clr-light-100);
      }

      &-thumb {
         background-color: var(--clr-light-300);

         &:hover {
            background-color: var(--clr-primary-300);
         }
      }
   }
}
