.title {
   position: relative;

   height: 40rem;

   @include border-bottom;

   &::after {
      content: "";

      position: absolute;
      inset: 0;
      z-index: 2;

      display: inline-block;

      background-image: linear-gradient(
         to bottom,
         hsl(30 12% 12% / 0.6) 0%,
         hsl(30 12% 12% / 0.9) 100%
      );
   }

   &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;

      max-width: 25ch;

      color: var(--clr-light-100);

      transform: translate(-50%, -50%);
   }

   &__img {
      display: block;

      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
   }
}

.details {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;

   padding: var(--main-padding);

   background-color: var(--clr-light-200);

   @include border-bottom;

   @include responsive($bp-m) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-items: center;
      gap: 3rem 1rem;

      & .detail:nth-child(3) {
         grid-column: 2 / -1;
         grid-row: 1 / 1;
      }
   }
}

.detail {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1.6em;

   &__icon {
      width: var(--icon-size);
      height: var(--icon-size);

      &--user {
         fill: var(--clr-light-300);
      }

      &--user-active {
         fill: var(--clr-dark-200);
      }
   }

   &__btns {
      display: flex;
      gap: 1em;
   }
}

.ingredients {
   padding: var(--main-padding);

   background-color: var(--clr-light-100);

   @include border-bottom;

   &__title {
      text-align: center;
      margin-bottom: var(--block-padding);
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 2.2rem 5%;
   }

   &__item {
      display: flex;
      align-items: center;

      gap: 1.2rem;

      font-size: 1.6rem;

      &-mark {
         font-size: 1.8rem;
         color: var(--clr-primary-300);
      }

      &-quantity {
         flex-shrink: 0;
         font-weight: 500;
      }
   }

   &__add-ing {
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 1rem;

      margin-top: var(--block-padding);

      font-size: 1.4rem;
   }
}

.source {
   flex: 1;

   padding: var(--main-padding);

   background-color: var(--clr-light-200);

   &__title {
      text-align: center;
      margin-bottom: var(--block-padding);
   }

   &__text {
      margin-bottom: var(--block-padding);
   }

   &__link:link,
   &__link:visited {
      display: inline-block;

      padding: 0.8em 1.6em;

      color: var(--clr-light-100);
      font-size: 2rem;

      border-radius: 5px;
      background-color: var(--clr-dark-100);

      transform: translateY(0rem);

      transition: all var(--transition-time);
   }

   &__content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      transition: gap var(--transition-time) var(--transition-time);
   }

   &__icon {
      width: 3rem;
      height: 3rem;
      fill: var(--clr-light-100);
   }

   &__link:hover,
   &__link:focus {
      box-shadow: var(--bs-medium);
      transform: translateY(-0.4rem);
      background-color: var(--clr-dark-200);
   }

   &__link:hover &__content,
   &__link:focus &__content {
      gap: 2rem;
   }
}
