.title {
   position: relative;
   height: 40rem;

   @include responsive($bp-s) {
      height: 35rem;
   }

   &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
      display: inline-block;
      background-image: linear-gradient(
         to bottom,
         hsl(30 12% 12% / 0.6) 0%,
         hsl(30 12% 12% / 0.9) 100%
      );
   }

   &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      max-width: 25ch;
      color: var(--clr-light-100);
      text-align: center;
      transform: translate(-50%, -50%);
   }

   &__user {
      position: absolute;
      z-index: 3;
      bottom: 1.5rem;
      left: 1.5rem;
      @include flexCenter;
      padding: 1rem;
      background-color: var(--clr-dark-200);
      border-radius: 50%;
   }

   &__icon {
      width: var(--icon-size);
      height: var(--icon-size);

      &--user {
         fill: var(--clr-dark-100);
      }

      &--user-active {
         fill: var(--clr-light-300);
      }
   }

   &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
   }
}

.details {
   @include flexCenter;
   flex-direction: row;
   justify-content: space-around;
   padding: var(--main-padding);
   background-color: var(--clr-light-200);
   z-index: 2;

   @include borderLine(bottom);

   @include responsive($bp-s) {
      justify-content: space-between;
   }
}

.detail {
   @include flexCenter;
   gap: 1.6em;

   &__icon {
      width: var(--icon-size);
      height: var(--icon-size);
   }

   &__btns {
      display: flex;
      gap: 1em;
   }
}

.ingredients {
   padding: var(--main-padding);
   background-color: var(--clr-light-100);

   &__title {
      text-align: center;
      margin-bottom: var(--block-padding);
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 2.2rem 5%;
   }

   &__item {
      @include flexCenter;
      justify-content: stretch;
      gap: 1.2rem;
      font-size: 1.6rem;

      &-mark {
         font-size: 1.8rem;
         color: var(--clr-primary-300);
      }

      &-quantity {
         flex-shrink: 0;
      }
   }

   &__add-ing {
      gap: 1rem;
      margin-top: var(--block-padding);
      font-size: 1.4rem;
   }
}

.source {
   flex: 1;
   padding: var(--main-padding);
   background-color: var(--clr-light-200);
   z-index: 2;
   border-top: var(--border-line);

   @include borderLine(top);

   &__title {
      text-align: center;
      margin-bottom: var(--block-padding);
   }

   &__text {
      margin-bottom: var(--block-padding);
   }

   &__link,
   &__link:link,
   &__link:visited {
      display: inline-block;
      padding: 0.8em 1.6em;
      color: var(--clr-light-100);
      font-size: 2rem;
      border-radius: 5px;
      background-color: var(--clr-dark-100);
      transform: translateY(0rem);
      transition: all var(--transition-time);
   }

   &__content {
      @include flexCenter;
      justify-content: flex-start;
      gap: 1rem;
      transition: gap var(--transition-time) var(--transition-time);
   }

   &__icon {
      width: 3rem;
      height: 3rem;
      fill: var(--clr-light-100);
   }

   &__link:hover,
   &__link:focus {
      box-shadow: var(--bs-medium);
      transform: translateY(-0.4rem);
      background-color: var(--clr-dark-200);
   }

   &__link:hover &__content,
   &__link:focus &__content {
      gap: 2rem;
   }
}
