.results {
   display: flex;
   flex-direction: column;

   @include responsive($bp-s) {
      flex-direction: row;
   }
}

.pag {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;

   padding: var(--main-padding);

   &__btn {
      width: 3rem;
      height: 3rem;
      font-size: 1.4rem;
   }
}
