.results {
   display: flex;
   flex-direction: column;
   width: 100%;

   @include responsive($bp-s) {
      flex-direction: row;
      overflow-x: auto;
      overscroll-behavior-x: contain;
   }
}

.pag {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;

   padding: var(--main-padding);

   @include responsive($bp-s) {
      padding: calc(var(--block-padding) / 2) calc(var(--inline-padding) / 2);
      gap: 2em;
   }

   &__btn {
      width: 3rem;
      height: 3rem;
      font-size: 1.4rem;
   }
}
