h1 {
   font-size: 5rem;
   font-weight: 800;
   line-height: 0.9;
}

h2,
h3 {
   font-weight: 600;
   line-height: 1.1;
}

h2 {
   font-size: 4rem;
}

h3 {
   font-size: 3rem;
}

h4 {
   font-size: 2.4rem;
   font-weight: 400;
}

h5 {
   font-size: 2rem;
   font-weight: 100;
}

p {
   font-size: 1.8rem;
   font-weight: 400;
}

strong {
   font-weight: 700;
   @include underline;
}

small {
   font-size: 1.2rem;
   font-weight: 300;
}

a:link,
a:visited {
   text-decoration: none;
   cursor: pointer;
   outline: none;
}

.btn {
   @include flexCenter;
   padding: 0.5rem;
   border: none;
   outline: none;
   border-radius: var(--rounded-corners);
   background-color: var(--clr-light-300);
   color: var(--clr-dark-100);
   cursor: pointer;
   transform: translateY(0);
   transition: all var(--transition-time);

   &__icon {
      width: 2.4rem;
      height: 2.4rem;
      fill: var(--clr-dark-100);
   }

   &:hover,
   &--active {
      background-color: var(--clr-dark-100);
      box-shadow: var(--bs-medium);
      color: var(--clr-primary-200);
   }

   &:hover {
      transform: translateY(-0.2em);
   }

   &:active {
      transform: translateY(0);
   }

   &--active {
      transform: translateY(-0.2em);
   }

   &--active &__icon,
   &:hover &__icon {
      fill: var(--clr-primary-200);
   }

   &--small {
      .btn__icon {
         width: 1.8rem;
         height: 1.8rem;
      }
   }

   &--very-small {
      .btn__icon {
         width: 1.4rem;
         height: 1.4rem;
      }
   }

   &--small:hover,
   &--very-small:hover {
      box-shadow: var(--bs-small);
   }
}
