@import url("https://fonts.googleapis.com/css2?family=Glory:wght@100..800&display=swap");

:root {
   //? COLORS
   // Light
   --clr-light-100: hsl(0 0% 98%);
   --clr-light-200: hsl(0 0% 96%);
   --clr-light-300: hsl(0 0% 85%);

   // dark
   --clr-dark-100: hsl(30 13% 30%);
   --clr-dark-200: hsl(30 13% 20%);
   --clr-dark-300: hsl(100 12% 8%);

   // primary
   --hue: 80;

   --clr-primary-100: hsl(var(--hue) 74% 80%);
   --clr-primary-200: hsl(var(--hue) 74% 70%);
   --clr-primary-300: hsl(var(--hue) 74% 60%);
   --clr-primary-400: hsl(var(--hue) 74% 50%);
   --clr-primary-500: hsl(var(--hue) 74% 40%);
   --clr-primary-600: hsl(var(--hue) 74% 30%);

   --clr-red: hsl(350, 75%, 50%);

   //? FONT
   --ff-primary: "Glory", sans-serif;

   //? EFFECTS
   // shadows
   --bs-small: 0 0.2rem 0.2rem hsl(30 13% 20% / 0.2);
   --bs-medium: 0 0.4rem 0.4rem hsl(30 13% 20% / 0.3);
   --bs-big: 0 2rem 6rem 0.5rem hsl(100 12% 8%/ 0.3);

   --rounded-corners: 7px;
   --border-line: 2px solid var(--clr-primary-400);
   --transition-time: 0.2s;

   //? SIZES
   --header-height: 9rem;
   --icon-size: 2.4rem;

   --inline-padding: 5rem;
   --block-padding: 4rem;

   --main-padding: var(--block-padding) var(--inline-padding);
}

@mixin border-bottom {
   border-bottom: var(--border-line);
   box-shadow: var(--bs-small);
}

@mixin underline {
   text-decoration: underline;
   text-decoration-color: var(--clr-primary-400);
   text-decoration-thickness: 0.4rem;
}

// Responsive website - breakpoints

// 1200px
// remove margins, recipie container full width and height
// smaller base font-size (to 9px)
$bp-l: 75em;

// 1000px
// change add-recipe window
// change details area
$bp-m: 62.5em;

// 900px
// smaller bose font-size (to 8 px);
$bp-s: 56.25em;

@mixin responsive($breakpoint) {
   @media only screen and (max-width: $breakpoint) {
      @content;
   }
}
